doom/flycheck_config.el
.DS_Store
Autodesk/*
github-copilot/
BetterDiscord/*
configstore/*
firebase/
flutter/
fontforge/
gtk-2.0/
gtk-3.0/
mgba/
doom/config.el
doom/packages.el
/ArmCord/
/GNOME-xdg-terminals.list
/dconf/
/thefuck/__pycache__/
/evolution/
/gnome-initial-setup-done
/ibus/
/libreoffice/
/lxqt/
/pulse/
/rofi/
/emacs
/.dir-locals.el
/.gsd-keyboard.settings-ported
/rygel.conf
/simple-update-notifier/
/slacky/
/starship.toml
/user-dirs.dirs
/user-dirs.locale
/xdg-terminals.list
/yelp/
/Code/
/vesktop/
/enchant/
/mimeapps.list
/mimeapps.list
legcord/
!legcord/themes/midnight.theme.css
