AppleMusic/
Badlion Client/
BadlionClient/
brinkervii/
Cider/
Code/
chromium/
GIMP/
appimagelauncher.cfg
coc/
configstore/
dconf/
discord/
emacs/
emacs.d/
JetBrains/
libreoffice/
libvirt/
lutris/
menus/
mimeapps.list
neofetch/
nvim/plugged/
nvim/undodir/
ookla/
pavucontrol.ini
pulse/
Slack/
systemd/
Unknown Organization/
xfce4/
user-dirs.dirs
user-dirs.locale
zoomus.conf
Electron/
cef_user_data/
conductor/
cura/
enchant/
gthumb/filters.xml
nvim/UltiSnips/
nvim/templates/
unity3d/
Advantage Scope/
BetterDiscord Installer/Local Storage/leveldb/LOG.old
BetterDiscord Installer/Session Storage/LOG.old
