AppleMusic/
Badlion Client/
BadlionClient/
balena-etcher/
brinkervii/
Cider/
chromium/
celluloid/
Code/
GIMP/
appimagelauncher.cfg
coc/
configstore/
dconf/
discord/
dunst/
emacs/
emacs.d/
FRC Utilities/
gthumb/
guvcview2/
JetBrains/
libreoffice/
libvirt/
lutris/
menus/
mimeapps.list
nitrogen/
neofetch/
nvim/plugged/
nvim/undodir/
ookla/
pavucontrol.ini
pulse/
Slack/
systemd/
Unknown Organization/
xfce4/
xed/
user-dirs.dirs
user-dirs.locale
zoomus.conf
