@define-color white #abb2bf;
@define-color black #282c34;
@define-color red #e06c75;
@define-color blue #61afef;
@define-color green #98c379;
@define-color magenta #c678dd;

* {
	font-family: "Recursive Sans Linear Static", sans-serif;
    font-size: 14px;
    padding: 0;
    margin: 0;
}

#waybar {
    color: @blue;
    background-color: rgba(0,0,0,0);
    /* background-color: @black; */
}

#workspaces {
    background-color: @black;
    padding: 0 0.5em;
    border-radius: 1em;
}

#workspaces button {
    color: @blue;
    font-size: 24px;
}

#workspaces button.empty {
    color: @white;
}

#clock {
    color: @white;
    background-color: @black;
    padding: 0 1em;
    border-radius: 1em;
}

#system-info {
    background-color: @black;
    padding: 0 1em;
    border-radius: 1em;
}

#wireplumber {
    color: @blue;
    padding-right: 1em;
}
#memory {
    color: @magenta;
    padding-right: 1em;
}
#temperature {
    color: @red;
    padding-right: 1em;
}
#battery {
    color: @green;
    padding-right: 1em;
}
#backlight {
    color: @red;
    padding-right: 1em;
}
#language {
    color: @white;
    padding-right: 1em;
}
#network {
    color: @white;
    padding-right: 1em;
}
#bluetooth {
    color: @white;
    padding-right: 1em;
}
#tray {
}
