* {
    accent:             #61afef;
    background:         #282c34;
    background-dark:    #282c34;
    foreground:         #61afef;
    on:                 #8BC34A;
    off:                #eb342e;
    transparent:        #282c34;
    selected:           #4b5263;
  }
  
